{% extends 'base.html' %}
{% load static %}

{% block  content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <p><b>Company Name:</b> {{ company.name }}</p><br>
            <p><b>Website:</b>{{ company.website }}</p><br>
            <p><b>Description:</b>{{ company.description }}</p><br>
            <p><b>Founding date:</b>{{ company.founded }}</p><br>
            <p><b>Is Active:</b>{{ company.is_active }}</p><br>
            <p><b>Category:</b>{{ company.category }}</p><br>
            <p><b>City:</b>{{ company.city }}</p><br>
            <p><b>Region:</b>{{ company.region }}</p><br>
            <p><b>Street:</b>{{ company.street }}</p><br>
            <p><b>Street Number:</b>{{ company.street_number }}</p><br>
            <p><b>Date Added</b>{{ company.date_added }}</p><br>
            <p><b>Added by:</b>{{ company.added_by }}
        </div>
        <div class="col-lg-4">
            <p><b>Company Customers</b></p><br>
            {%  for customer in company.customers.all %}
                {{ customer }}<br>
            {% endfor %}
        </div>
    </div>

    <button type="reset" onclick="location.href='{% url 'companies' %}'">
    www.example.com
</button>
{% endblock %}